.error-box {
  height: 50px;
  color: red;
  text-align: center;
  font-size: 2em;
}

.container {
  display: flex;
  justify-content: center;
}

.controls {
  background-color: lightgray;
}

.track {
}
